xsd_0409728.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="urn:cbr-ru:rep0409728:v1.0"
           xmlns="urn:cbr-ru:rep0409728:v1.0"
           xmlns:report_0409725="urn:cbr-ru:rep0409728:v1.0">
	<xs:element name="Ф0409728"
	            xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:sequence>
			<xs:element name="Составитель" type="Ф0409728Составитель" minOccurs="1" maxOccurs="1"/>			
				<xs:element name="Ф0409728_Раздел1"
				            type="Ф0409728_Раздел1"
				            minOccurs="0"
				            maxOccurs="1"/>
				<xs:element name="Ф0409728_Раздел2"
				            type="Ф0409728_Раздел2"
				            minOccurs="0"
				            maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="ОтчДата"
			              type="Дата"
			              use="required"/>
			<xs:attribute name="ОКУД"
			              type="ПроизвСтрока"
			              use="required"/>
			<xs:attribute name="Периодичность"
			              type="ПроизвСтрока"
			              use="required"/>
		<xs:attribute name="УникИдОЭС" type="GUIDтип" use="required"/>
		<xs:attribute name="ВидОЭС" type="ВидОЭСтип" use="required"/>
		<xs:attribute name="КодФормы" type="ПроизвСтрока" use="required"/>
		<xs:attribute name="ВидОтчета" type="ПроизвСтрока" use="required"/>
		<xs:attribute name="ДатаВремяФормирования" type="ДатаВремя" use="required"/>						  
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="Ф0409728Составитель" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="Руководитель" type="Ф0409728СоставительРуководитель" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ГлавБух" type="Ф0409728СоставительГлавБух" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Исполнитель" type="Ф0409728СоставительИсполнитель" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ВидОрг" type="ПроизвСтрока" use="required"/>
		<xs:attribute name="КодОрг" type="ПроизвСтрока" use="required"/>
		<xs:attribute name="КодТУ" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="БИК" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="ОКАТО" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="ОКПО" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="ОГРН" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="СокрНаимен" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="Адрес" type="ПроизвСтрока" use="optional"/>
		<xs:attribute name="ДатаПодписания" type="Дата" use="required"/>
	
	</xs:complexType>
		
		<xs:complexType name="Ф0409728_Раздел1">
		<xs:sequence>
			<xs:element name="Ф0409728_Раздел1_Идент1"
			            minOccurs="0"
			            maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="Вид_Деятельности"
					              type="Вид_Деятельности"
					              fixed="Клиринговая"/>
					<xs:attribute name="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              type="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              use="required"/>
				</xs:complexType>
			</xs:element>
						<xs:element name="Ф0409728_Раздел1_Идент2"
			            minOccurs="0"
			            maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="Вид_Деятельности"
					              type="Вид_Деятельности"
					              fixed="Расчетный_Депозитарий"/>
					<xs:attribute name="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              type="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              use="required"/>
				</xs:complexType>
			</xs:element>
						<xs:element name="Ф0409728_Раздел1_Идент3"
			            minOccurs="0"
			            maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="Вид_Деятельности"
					              type="Вид_Деятельности"
					              fixed="Репозитарий"/>
					<xs:attribute name="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              type="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
					              use="required"/>
				</xs:complexType>
			</xs:element>
					</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Ф0409728_Раздел2">
		<xs:sequence>
		<xs:element name="Ф0409728_Раздел2_Строка"
			            minOccurs="0"
			            maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="КлирКолСделужСцКонтрДопКлир"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="КлирКолОбслужУчКлир"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="КлирОбязСделСцКонтрДопКлир"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="ДепозТоргСчДепоСовРынСтоимАктВРубЕкв"
					              type="Десят"
					              use="optional"/>
					<xs:attribute name="ДепозСубСчДепоСовРынСтоимАктВРубЕкв"
					              type="Десят"
					              use="optional"/>
					<xs:attribute name="ДепозТоргСчДепоКолОбслужЛиц"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="ДепозКлирСчДепоКолОбслужЛиц"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="ДепозТоргСчДепоКлирСчДепоКолОбслужЛиц"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="ДепозСубСчДепоКолОбслужЛиц"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="ДепозТоргСчДепоОбСовОпер"
					              type="Десят"
					              use="optional"/>
					<xs:attribute name="ДепозСубСчДепоОбСовОпер"
					              type="Десят"
					              use="optional"/>
					<xs:attribute name="РепозКолДогПредставИнфЛицИЗарегВРеестреДог"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="РепозКолОбслужКлиентов"
					              type="ЦелоеПолож"
					              use="optional"/>
					<xs:attribute name="РепозОбПоДогПредИнфЛицЗарегВРеестреДогРеп"
					              type="ЦелоеПолож"
					              use="optional"/>
				</xs:complexType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	
	<xs:complexType name="Ф0409728СоставительРуководитель" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Должность" type="Строка255Непустая" use="required"/>
		<xs:attribute name="ФИО" type="Строка255Непустая" use="required"/>
	</xs:complexType>
	<xs:complexType name="Ф0409728СоставительГлавБух" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Должность" type="Строка255Непустая" use="required"/>
		<xs:attribute name="ФИО" type="Строка255Непустая" use="required"/>
	</xs:complexType>
	<xs:complexType name="Ф0409728СоставительИсполнитель" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Должность" type="Строка255Непустая" use="required"/>
		<xs:attribute name="ФИО" type="Строка255Непустая" use="required"/>
		<xs:attribute name="Телефон" type="Строка255Непустая" use="required"/>
		<xs:attribute name="Факс" type="Строка255" use="optional"/>
		<xs:attribute name="ЭлПочта" type="Строка255" use="optional"/>
	</xs:complexType>	
	
	<xs:simpleType name="Дата"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="2014-11-02"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Вид_Деятельности"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Клиринговая"/>
			<xs:enumeration value="Расчетный_Депозитарий"/>
			<xs:enumeration value="Репозитарий"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="ОсущОргЗакРФФункИнфрОргФинРынкЕдинЛич"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="ОГРНтип"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="1234567890123"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ПроизвСтрока"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
    
	<xs:simpleType name="Строка255" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Строка255Непустая" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ЦелоеПолож"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="1"/>
					<xs:ЗначениеТипа ЗначТипа="12"/>
					<xs:ЗначениеТипа ЗначТипа="123"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	
	<xs:simpleType name="Десят"
	               xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="707.00"/>
					<xs:ЗначениеТипа ЗначТипа="231.00"/>
					<xs:ЗначениеТипа ЗначТипа="15.60"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="GUIDтип" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/>
					<xs:ЗначениеТипа ЗначТипа="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ВидОЭСтип" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Отчетность КО"/>
			<xs:enumeration value="Отчетность ТУ"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ДатаВремя" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:annotation>
			<xs:appinfo>
				<xs:ПримерыЗначений>
					<xs:ЗначениеТипа ЗначТипа="2014-11-30T13:20:45"/>
				</xs:ПримерыЗначений>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>	
</xs:schema>